.heading {
  display: flex;
  /* position: fixed; */
  font-family: Calibri;
}
.title {
  width: 90%;
  padding-left: 20px;
  color: #2d0e4f;
  font-weight: bold;
  font-family: Calibri;
}

.spanicon {
  font-size: 14px;
  margin: 2px 5px;
  font-family: Calibri;
}
.route-btn {
  background-color: rgb(121, 72, 255);
  color: white;
  text-decoration: none;
  border: 2px solid rgb(121, 72, 255);
  outline: none;
  width: 100px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  font-family: Calibri;
  font-weight: bold;
  font-size: 20px;
 
}

.main-input-container {
  display: flex;
  width: 98%;
  /* border: 1px solid red; */
  margin: 0px 10px;
  padding: 5px 0;
  flex-wrap: wrap;
}

.main-input-chiled {
  width: 30%;
  margin: 0px 20px;
}

.input-label {
  font-size: 20px;
  color: #2d0e4f;
  font-weight: bold;
  font-family: Calibri;
}

.student-input {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  box-shadow: 1px 1px 10px rgb(171, 170, 170);
  padding-left: 10px;
  color: #2d0e4f;
  font-family: Calibri;
}

.select-option{
    width: 101%;
}

.btn-data {
  text-align: center;
  margin: 0px 10px;
  color: skyblue;
  justify-content: center;
}
.btn-data button {
  height: 40px;
}
.main-btn-container {
  display: flex;
  justify-content: end;
  width: 98%;
  padding-right: 0px;
  margin-bottom: 5px;
}

/* media  1024 */
@media screen and (max-width: 1224px) {
  .title {
    width: 90%;
    height: 100%;
  }

  .main-input-container {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 1024px) {
  .heading .title {
    width: 86%;
  }
}

@media screen and (max-width: 768px) {
  .heading .title {
    width: 82%;
  }

  .main-input-container {
    flex-wrap: wrap;
  }

}

@media screen and (max-width: 600px) {
  .heading .title {
    width: 75%;
    font-size: 14px;
    padding-top: 6px;
  }

  .route-btn {
    width: 90px;
    height: 40px;
    border-radius: 6px;
    font-size: 18px;
  }

  .main-input-chiled {
    width: 90%;
    padding: 0;
    font-size: 12px;
  }

  .input-label {
    font-size: 12px;
  }

  .student-input {
    height: 35px;
    font-size: 12px;
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgb(171, 170, 170);
    padding-left: 10px;
  }
}

@media screen and (max-width: 480px) {
  .heading.title {
    font-size: 10px;
    width: 75%;
  }

  .route-btn {
    width: 70px;
    height: 25px;
    border-radius: 4px;
    font-size: 12px;
    margin-top: 30px;
  }

  .student-input {
    height: 35px;
    font-size: 10px;
    border-radius: 2px;
    box-shadow: 1px 1px 5px rgb(171, 170, 170);
    padding-left: 5px;
  }

  .btn-data button {
    height: 25px;
  }

  .main-input-container {
    margin: 0 5px;
  }

  .btn-data {
    right: -60%;
    margin: 0px 5px;
  }
}

@media screen and (max-width: 320px) {
  .heading .title {
    width: 70%;
    font-size: 11px;
    padding-top: 6px;
  }

  .route-btn {
    width: 70px;
    height: 30px;
    border-radius: 6px;
    font-size: 14px;
  }

  .btn-data button {
    height: 30px;
  }
}




/* navigation bar styles....... */

.main-navigation{
  display: flex;
  background-color: rgb(121, 72, 255);
  width: 100%;
  font-family: Calibri;
  color: white;
}

.heading-h1{
  width: 25%;
  padding-left: 5%;
  /* color:white; */
}
.logo{
  color: white;
  text-decoration: none;
}

.navigation-containner{
  padding: 5px 0;
  display: inline-block;
  text-align: right;
  line-height: 70px;  
  width: 70%;
}

.navigation-btn{
  text-decoration: none;
  color: white;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  padding: 5px;
  transition: 0.5s linear all;
  border: 1px solid rgb(121, 72, 255);
}
.navigation-btn:hover{
  color: rgb(121, 72, 255);
  background-color: white;
  border: 1px solid white;
  border-radius: 6px;
  transition: 0.5s linear all;
}